json code
[{"id":"8a3be6e6.401f98","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c1aee8dc.a45f88","type":"debug","z":"8a3be6e6.401f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":581.5607891082764,"y":134.48038578033447,"wires":[],"l":false},{"id":"31e26cf5.bcabf4","type":"function","z":"8a3be6e6.401f98","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":352.3529281616211,"y":282.235315322876,"wires":[["657d727e.10870c","66ab00cf.7c262"]],"l":false},{"id":"6a243135.67763","type":"function","z":"8a3be6e6.401f98","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.output.text[0].length <200)\n{\n    msg.payload= msg.payload.output.text[0];\n}\nelse{\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text +\"\\n\" + msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n}\nreturn msg;","outputs":1,"noerr":0,"x":610.3431568145752,"y":253.75491523742676,"wires":[["fddcc7a7.dda2b8"]],"l":false},{"id":"657d727e.10870c","type":"watson-conversation-v1","z":"8a3be6e6.401f98","name":"Assistant","workspaceid":"d1d3926d-31c7-49b7-b519-4ba17cb295be","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fe5f86ba-cf8b-485b-bddb-926f1bc820e4","timeout":"","optout-learning":false,"x":458.0882339477539,"y":199.82353687286377,"wires":[["c1aee8dc.a45f88","6a243135.67763"]],"l":false},{"id":"64a71ad8.981534","type":"ui_form","z":"8a3be6e6.401f98","name":"","label":"","group":"83aeff2.5b297","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":257.549015045166,"y":390.1960849761963,"wires":[["31e26cf5.bcabf4"]],"l":false},{"id":"66ab00cf.7c262","type":"ui_text","z":"8a3be6e6.401f98","group":"83aeff2.5b297","order":2,"width":0,"height":0,"name":"","label":"you:","format":"{{msg.payload}}","layout":"row-spread","x":480.63725090026855,"y":388.2843017578125,"wires":[],"l":false},{"id":"fddcc7a7.dda2b8","type":"ui_template","z":"8a3be6e6.401f98","group":"7c429378.6f0aec","name":"","order":1,"width":"6","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":744.6666812896729,"y":269.66673469543457,"wires":[[]],"l":false},{"id":"83aeff2.5b297","type":"ui_group","z":"","name":"Custmer care helpdesk","tab":"b85ed0f0.4041a","order":2,"disp":true,"width":"6","collapse":false},{"id":"7c429378.6f0aec","type":"ui_group","z":"","name":"BOT","tab":"b85ed0f0.4041a","order":4,"disp":true,"width":"6","collapse":false},{"id":"b85ed0f0.4041a","type":"ui_tab","z":"","name":"TABNAME","icon":"dashboard","disabled":false,"hidden":false}]
